@page
@using Microsoft.Extensions.Localization
@using NecnatAbp.Br.GeDatasus.Localization
@using NecnatAbp.Br.GeDatasus.Web.Pages.GeDatasus
@model NecnatAbp.Br.GeDatasus.Web.Pages.GeDatasus.IndexModel
@inject IStringLocalizer<GeDatasusResource> L

@{
}
<h1>GeDatasus</h1>
<p>@L["SamplePageMessage"]</p>
