@page "/GeDatasus"
@using Microsoft.Extensions.Localization
@using global::NecnatAbp.Br.GeDatasus.Localization
@inject IStringLocalizer<GeDatasusResource> L
@{
}
<h1>GeDatasus</h1>
<p>@L["SamplePageMessage"]</p>